<div id="wip-banner" class="announcement-banner">
  <div class="container banner-inner">
    <span class="banner-text">
      <i class="fas fa-tools" style="margin-right: 10px"></i>
      <span
        ><strong>WIP:</strong> Website ini masih dalam tahap pengembangan aktif. Beberapa fitur
        mungkin belum sempurna.</span
      >
    </span>
    <button
      type="button"
      id="banner-close"
      class="banner-close"
      aria-label="Tutup pengumuman"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>
